*{
    box-sizing: border-box;
    margin: 0;
}

.logo{
    width: 70px;
    height: 70px;
}

body{
    background-color: #CEEDFF;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/db/b3/37/dbb3378ac8b46699dfd456c6fda3bcb5.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    border-radius: 10px;
    padding: 35px 26px;
    width: 400px
}

.abt {
    font-size: 14px
}

.inputbox {
    margin-top: 12px;
    position: relative
}

.inputbox input {
    border: 2px solid #eee;
    padding: 0 10px
}

.inputbox input:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid #00ddff
}

.inputbox span{

    font-size: 12px;
}


.inputbox a{

    font-size: 12px;
    text-decoration: none;
}

.input-tag {
    position: absolute;
    top: 27px;
    left: 7px;
    width: 32px
}

.proceed button {
 
    font-size: 15px
}

.form-check-label {
    font-size: 12px
}

.btn-primary:focus {
    color: #fff;
    background-color: #00bfff;
    border-color: #0257d5;
    box-shadow: none;
}

.form-check-input {
    width: 16px;
    height: 16px;
    margin-top: 6px
}

.fontSignIn{
    color: white;
}